/**
 * Console
 */

.console
  position relative
  size 100%

  &__output
    absolute top bottom 2em
    width 100%
    overflow-y auto
    /*overflow-x hidden*/
    border-top $browser-border

  &__cmd
    absolute bottom left
    size 100% 2em
