/**
 * Block: content
 */

.content
  height 100%
  border-width 1px 0 1px
  border-style solid
  border-color #aaa
  box-sizing border-box

  &__tab
    position absolute
    size 100%
    z-index 0
    background #fff

    &_active
      z-index 1