//- Block: bar

.bar
  .bar__tab.js-tab-title
    span.bar__tab__text Список иконок
  .bar__tab.js-tab-title
    span.bar__tab__text Парочка твитов
  .bar__tab.js-tab-title
    span.bar__tab__text Контрол рейтинга
  .bar__tab.js-tab-title
    span.bar__tab__text Прогрессбар
  .bar__tab.js-tab-title
    span.bar__tab__text Кнопка
  .bar__tab.js-tab-title
    span.bar__tab__text Текст
