//- Block: content

.content
  .content__tab.js-tab-content
    include tabs/iconslist
  .content__tab.js-tab-content
    include tabs/tweets
  .content__tab.js-tab-content
    include tabs/rating
  .content__tab.js-tab-content
    include tabs/progressbar
  .content__tab.js-tab-content
    include tabs/btnshow
  .content__tab.js-tab-content
    include tabs/textflow
