//- Block: result

.result.js-result
  .result__cmd
    .result__cmd__promt
      span.result__cmd__promt__text >
    .result__cmd__command
      span.result__cmd__command__text selectTab(1)
  .result__out
    | Выбран таб №1 «Контрол рейтинга»
